@font-face {
    font-family: "Vazir";
    src: url(/Vazir-Regular.ttf);
}

body {
    font-family: "Vazir";
    background-color: #525083;
    margin: 0;
    padding: 0;
    direction: rtl;
    text-align: right;
}

h1 {
    text-align: center;
    color: red;
    background-color: blue;
    font-size: 2.5em;
}

.icon_M-Video {
    width:100px;
    height:100px;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.icon_M-Video2 {
    width:300px;
    height:300px;
    text-align: left;
    direction: ltr;
    display: none;
    margin-right: 700px;
    margin-top: 1000px;
    margin-bottom: 0px;
}

h2 {
    color: chartreuse;
}

p {
    color: white;
}

video {
    width:350px;
    height:200px;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.copyrights {
    text-align: center;
    direction: ltr;
    color: red;
    font-size: large;
}

.e {
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
}

.info {
    margin-left: 20px;
    margin-right: 20px;
}

.ddownload {
    text-align: center;
}

.download {
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: blue;
    padding: 10px 20px;
    border-radius: 5px;
}

.quote-box {
    font-family: "Vazir";
    font-size: 20px;
    text-align: justify;
    direction: rtl; /* متن راست‌چین شود */
    color: white;
    position: relative;
    margin: 30px auto;
    padding: 20px 30px;
    background-color: blue;
    border: 1px solid #525083;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    line-height: 1.8;
    font-family: "Vazir";
  }

  .quote-box::before {
    content: '“';
    font-size: 80px;
    color: #525083;
    position: absolute;
    top: -10px;
    right: 20px; /* علامت نقل قول بالا به سمت راست */
  }

  .quote-box::after {
    content: '”';
    font-size: 80px;
    color: #525083;
    position: absolute;
    bottom: -30px;
    left: 20px; /* علامت نقل قول پایین به سمت چپ */
    transform: rotate(180deg);
  }

.afdgfr {
    font-size: medium;
    color: white;
}